@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nova Round", system-ui;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
